/* Fuente general */
body {
    font-family: 'Istok Web';
    margin: 0;
    background: linear-gradient(to bottom, #539EE4, #85CD32);
}

/* Header y navegación */
header {
    color: white;
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.hero img {
    height: 130px;
    margin-left: -31px;
}

.boton {
    background: linear-gradient(to bottom, #a2da63, #76B72D);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: all 0.25s ease-in-out;
}

.boton:hover {
    text-decoration: underline; 
    transform: scale(2.08);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

/* Main */

h1 {
    color: #fff;
    transition: all 0.3s ease-in-out;
}

h1:hover {
    font-size: 35px;
}

h2 {
    background: linear-gradient(to bottom, #74b6f3, #539EE4);
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: all 0.3s;
}

h2:hover {
    text-shadow: 0 0 10px #eee, 0 0 10px #eee, 0 0 10px #eee, 0 0 10px #eee, 0 0 10px #eee, 0 0 10px #eee, 0 0 10px #eee, 0 0 10px #eee;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    align-items: center;
    padding: 20px;
}

.contenedor p {
    color: #313030;
    display: flex;
    text-align: justify;
    font-size: 20px;
}

.contenedor-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contenedor2 p {
    color: #313030;
    display: flex;
    text-align: center;
    font-size: 20px;
}

.imagenes {
    height: 200px;
}

.principal {
    height: 400px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2rem;
}

.productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.card {
    background: linear-gradient(to bottom, #d4d4d4, #fff);
    color: #313030;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 240px;
}

.reseñas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.reseñas-grid div {
    background: #eee;
    padding: 1rem;
    border-radius: 8px;
}

/* Media Queries */
@media (max-width: 600px) {
    nav ul {
    flex-direction: column;
    }

    form {
    width: 100%;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
    }

    .hero img {
    height: 90px;
    }

    .principal {
    height: 200px;
    }

    .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    }

    .contenedor p {
    text-align: center;
    }

    .imagenes {
        height: 120px;
    }

    .card img {
        width: 150px;
    }

    .card {
        font-size: 14px;
    }

    .productos-container {
        justify-content: center;
    }

}